<div
  class="sc-iMWBiG gnAXrm"
  [class.show]="visibility.visible()"
  [class.hide]="!visibility.visible()"
>
  <div
    class="sc-bBeLUw iqJovQ"
    [class.active]="visibility.active()"
    (click)="betSlipToggle.closeGameGuide()"
  ></div>
  <div class="sc-fvtFIh eoJlOr">
    <div class="animation-wrapper fade-to-bottom" [class.active]="visibility.active()">
      <div class="sc-ihgnxC dGVefK">
        <div class="sc-jMakVn kZlOrS">
          <div class="sc-hwdzOS kTAJFM">
            <div class="sc-jaXxmD gZocBK"><div class="sc-ibQAlc ckeJQj">Game Guide</div></div>
            <button
              type="button"
              class="sc-jGKxIN jZLjha"
              (click)="betSlipToggle.closeGameGuide()"
              aria-label="Close guide"
            >
              <span class="sc-iHbSHG huhUrz"
                ><span class="sc-klVQfr bdatcO"></span><span class="sc-klVQfr bdatcO"></span
              ></span>
            </button>
          </div>
          <div class="sc-iMTnTM bFJnrU">
            <div class="sc-krNlrx drIdzz">
              <div class="sc-Srznz kAqHbR">
                <div class="intro">
                  <div class="introContentWrapper">
                    <div class="introContent">
                      @for (s of slides; track s.title; let i = $index) {
                        <div
                          class="introChild"
                          [class.active]="currentSlide === i"
                          [class.before-active]="currentSlide > i"
                          [class.after-active]="currentSlide < i"
                        >
                          <div class="sc-czkgLO iKAXMU">
                            @if (s.description && i === 0) {
                              <div class="sc-hTUWRP hzebhN">
                                <div class="sc-satoA cbObak">{{ s.description }}</div>
                              </div>
                            }

                            <div class="sc-dycYrq gKbnYa">
                              <div class="sc-isRoRf ekfGQK">
                                <div class="sc-dWZqqG lcrWUW">{{ i + 1 }}</div>
                                {{ s.title }}
                              </div>

                              @if (s.description && i !== 0) {
                                <div class="sc-satoA cbObak">{{ s.description }}</div>
                              }

                              @if (s.listItems?.length) {
                                <ul class="sc-eNSrOZ kLyZau">
                                  @for (item of s.listItems; track item) {
                                    <li class="sc-fsvrbO cHthOJ">{{ item }}</li>
                                  }
                                </ul>
                              }

                              @if (s.image && !s.showLimits) {
                                <div class="sc-lizKOg dLdiZi">
                                  <picture>
                                    @if (s.imageMobile) {
                                      <source [srcset]="s.imageMobile" media="(max-width: 900px)" />
                                    }
                                    <img [alt]="s.title" [src]="s.image" />
                                  </picture>
                                </div>
                              }

                              @if (s.showLimits) {
                                <div class="sc-jOnpCn cmkduJ introContentDescription">
                                  <div class="game-limits">
                                    <div class="game-limits-title">Game Limits</div>
                                    <div class="game-limits-text">
                                      Game limits are set by the operator. The limits for this game
                                      are shown below.
                                    </div>
                                    <div class="bet-limits-wrap">
                                      <div class="bet-limits">
                                        <div class="bet-limits-title">Minimum bet:</div>
                                        <div class="bet-limits-value"><span>0.10</span></div>
                                      </div>
                                      <div class="bet-limits">
                                        <div class="bet-limits-title">Maximum bet:</div>
                                        <div class="bet-limits-value"><span>100.00</span></div>
                                      </div>
                                      <div class="bet-limits">
                                        <div class="bet-limits-title">Max. win for one bet:</div>
                                        <div class="bet-limits-value"><span>1000.00</span></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              }
                            </div>
                          </div>
                        </div>
                      }
                    </div>

                    <div class="introPaginationWrapper">
                      <div class="paginationWrapper">
                        <button
                          type="button"
                          class="nextPrevButton"
                          [class.disabledNextPrevButton]="currentSlide === 0"
                          [disabled]="currentSlide === 0"
                          (click)="goPrev()"
                        >
                          <span class="prevNextText"
                            ><span class="textfit-container"
                              ><span class="textfit-text" style="font-size: 1rem"
                                >Previous</span
                              ></span
                            ></span
                          >
                        </button>
                        <div class="pageNumberWrapper">
                          {{ currentSlide + 1 }}/{{ totalSlides }}
                        </div>
                        <button type="button" class="nextPrevButton" (click)="goNext()">
                          <span class="prevNextText"
                            ><span class="textfit-container"
                              ><span class="textfit-text" style="font-size: 1rem">{{
                                currentSlide >= totalSlides - 1 ? 'Start Game' : 'Next'
                              }}</span></span
                            ></span
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
