<div id="root">
  <div class="sc-fIosbG dqZwpu">
    <div class="sc-gyEkAR gjYwXT">
      <div class="sc-gjNFIA gzXzTQ">
        <div class="sc-cTAnsW bEDqIM">
          <canvas width="3858" height="2170" class="sc-jObViz hkNpoe"></canvas>
        </div>
      </div>
      <div class="sc-hmjqoT jbsyeL">
        <div class="sc-eLwIuu QXtxZ">
          <div class="sc-bTfXyB bLlISG">
            <img
              alt="Logo"
              src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/7e17995c-56d0-4216-ac96-700167bb56c9"
            />
          </div>
          <aside class="sc-jIkVMy bIPPyc"><ul class="sc-ZOuZR eKrAkB"></ul></aside>
          <div class="sc-kHOZcY NYQnx">
            <div class="sc-hOGkBq imllRz">
              <div class="sc-jQrzWy xaCBe">
                <span class="textfit-container"
                  ><span class="textfit-text" style="font-size: 1.8rem"
                    ><span></span><span>5,000.00</span></span
                  ></span
                >
              </div>
            </div>
            <button class="sc-cZMOkM hdYHYa pressableButton">
              <img
                alt="speaker"
                src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/33d17c82-585a-4c8d-a870-b44a38c91176"
              /></button
            ><button class="sc-cZMOkM hdYHYa pressableButton">
              <span class="sc-fvxynf gEpkbQ"
                ><span class="sc-nVhaW kDNkNV"
                  ><span class="sc-hiwOQz XxFg"></span><span class="sc-hiwOQz XxFg"></span
                  ><span class="sc-hiwOQz XxFg"></span></span
              ></span>
            </button>
          </div>
        </div>
      </div>
      <div class="sc-gUQwsU MChLd">
        <div class="sc-fXeWTX hYzDZJ">
          <div class="sc-cbTBgv bHtnLq"></div>
          <div class="sc-fbydFU dkLwGW">
            <div class="sc-GEbWB iYfAPj">
              <div class="sc-ctqRRG cynHSv">
                <div class="sc-dFtBrR kGTFjx">
                  <div class="sc-brSyBs llkOWy">
                    <div class="sc-gIDkdn bibXPL">Amount</div>
                    <div class="sc-dkYRWv fdvzkD">
                      <button type="button" class="sc-XxPfW dqtYIt pressableButton" disabled="">
                        <span class="sc-evchmO ibeDXI"
                          ><img
                            alt="minus-plus-icon"
                            src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/0dc8a2e8-60e7-4b5c-85f9-16b12fe1140c"
                        /></span>
                      </button>
                      <div class="sc-fHeQMZ jUxrJp">
                        <button
                          type="button"
                          readonly=""
                          aria-label="Amount"
                          class="sc-dtDNWA cmLJhm"
                        >
                          <span class="textfit-container"
                            ><span class="textfit-text" style="font-size: 1.8rem"
                              ><span></span><span>0.10</span></span
                            ></span
                          >
                        </button>
                      </div>
                      <button type="button" class="sc-XxPfW dqtYIt pressableButton">
                        <span class="sc-evchmO ibeDXI"
                          ><img
                            alt="minus-plus-icon"
                            src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/0aa61f1b-d4fe-41c1-b768-b1d724eae2ad"
                        /></span>
                      </button>
                    </div>
                  </div>
                  <div class="sc-bXTggn hsvjTl">
                    <button class="sc-eGRUIf dIYNiB">
                      <img
                        alt="amountPopupIcon"
                        src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/76132d81-57fa-45c5-b7cf-db1ca8896ca6"
                      />
                    </button>
                  </div>
                  <div class="sc-ilfuBz SBmOe">
                    <div class="sc-uojkC jebHyb">Payout</div>
                    <div tabindex="0" aria-label="Payout multiplier" class="sc-jHkVTj cKkKNN">
                      <button type="button" class="sc-bQtKCm jozTJn pressableButton">
                        <span aria-label="Decrease multiplier" class="sc-fXErLa gMfbxS"
                          ><img
                            alt="minus-icon"
                            src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/0dc8a2e8-60e7-4b5c-85f9-16b12fe1140c"
                        /></span>
                      </button>
                      <div class="sc-FNZOL bHeCpf"><div class="sc-jWUChQ bBgTGA">2.00x</div></div>
                      <button type="button" class="sc-bQtKCm jozTJn pressableButton">
                        <span aria-label="Increase multiplier" class="sc-fXErLa gMfbxS"
                          ><img
                            alt="plus-icon"
                            src="blob:https://magic-spell.vcp0kuq2noxtbfautplyud.com/0aa61f1b-d4fe-41c1-b768-b1d724eae2ad"
                        /></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="sc-bilA-Dt hPysmo"><button class="sc-eGPYLs gIPpIY">Bet</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section
      aria-label="Notifications alt+T"
      tabindex="-1"
      aria-live="polite"
      aria-relevant="additions text"
      aria-atomic="false"
    ></section>
  </div>
</div>
